body {
    background-color: rgb(4, 28, 49);
    color: rgb(242, 248, 253);
}

section {
    text-align: center;
}

a {
    color: rgb(242, 248, 253);
    background-color: rgb(6, 46, 80);
    border: 2px solid rgb(19, 110, 190);
    border-radius: 3px;
    text-decoration: none;
    padding: 5px;

}

a:hover {
    background-color: rgb(11, 81, 141);
}

header {
    text-align: center;
}

.class_history {
    border: 2px solid aliceblue;
    border-radius: 3px;
}

.class_history h2 {
    border-bottom: 2px solid gray;
}

.class_essai {
    border-top: 2px solid aliceblue;
}