* {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-size: 62.5%;
}
header {
  width: 100%;
  border-bottom: 1px solid black;
  padding: 2rem;
}
.nav {
  margin: 0 auto;
}
.liste-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}

.liste-nav a {
  text-decoration: none;
  font-size: 2rem;
  color: rgb(0, 118, 221);
  padding: 1rem;
}
.liste-nav a:hover {
  background-color: rgb(80, 154, 219);
  color: aliceblue;
  padding: 1rem;
}
.tableList {
  border: 1px solid rgb(184, 184, 184);
  background-color: rgb(170, 196, 218);
  border-collapse: collapse;
  margin: 1rem auto;
  max-width: 80%;
  font-size: 1.2rem;
  font-family: sans-serif;
  text-wrap: wrap;
}
.tableList th {
  border: 1px solid rgb(184, 184, 184);
}
.tableList td {
  border: 1px solid rgb(184, 184, 184);
  padding: 10px;
  text-align: center;
}
.tableList a {
  color: rgb(49, 57, 66);
}
.tableList a:hover {
  color: rgb(100, 116, 134);
  background-color: rgb(233, 243, 255);
}

.opened {
  background-color: rgb(233, 243, 255);
}

.closed {
  background-color: rgb(170, 196, 218);
}

.form-page {
  border: 1px solid gray;
  background-color: rgb(200, 213, 255);
  margin: 0 auto;
  max-width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1.2rem;
  padding: 1rem;
}
