body{
    background-color: rgb(15, 34, 59);
    color: aliceblue;
}

.header {
    background-color: rgb(15, 34, 59);
    color: aliceblue;
    padding: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header a {
    color: aliceblue;
    background-color: rgb(23, 51, 87);
    text-decoration: none;
    font-size: 24px;
    font-family: sans-serif;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px 20px;
    position: relative;
    z-index: 99;
}

.header a:hover {
    background-color: rgb(37, 81, 139);
}

.navigation {
    margin: 0 auto;
    
}

.superHR{
    border : 3px solid white;
    height: 1px;
    width: 100%;
    position: relative;
    top: 40px;
    z-index: 0;
    
}

.container1{
    background-color: rgb(15, 34, 59);
    color: aliceblue;
}