* {
    box-sizing: border-box;
    margin: 0;
}

body {
    color: rgb(247, 250, 253);
    background-color: rgb(35, 47, 78);
}

header {
    width: 100%;
}

table {
    border-collapse: collapse;
    /* border-spacing: 1em; */
    text-align: center;
    overflow: scroll;

}

table,
th,
td {
    background-color: rgb(44, 59, 97);
    border: 2px solid rgb(68, 124, 156);
    border-radius: 3px;
}

th {
    padding: 10px;
}

td {
    padding: 5px 10px;
}

a {
    color: aliceblue;
    text-decoration: none;

}

nav {
    height: 5vh;
    width: 100%;
    background-color: rgb(48, 64, 105);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.main_nav>a {
    font-size: 24px;
    border: 2px solid rgb(68, 124, 156);
    border-radius: 3px;
    padding: 5px;
}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

}

.stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(52, 87, 117);
    border: 2px solid rgb(79, 131, 177);
    border-radius: 3px;
    margin-top: 40px;
    padding: 10px;
}

.stats>p {
    background-color: rgb(79, 131, 177);
    border: 2px solid rgb(90, 149, 201);
    border-radius: 3px;
    padding: 10px;
    margin: 0 10px;
}

.class_stats {
    background-color: rgb(61, 42, 85);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    border: 2px solid rgb(90, 62, 124);
    border-radius: 3px;
    padding: 10px;
}

.class_stats>p {
    border: 2px solid rgb(109, 75, 150);
    border-radius: 3px;
    padding: 10px;
}