* {
    box-sizing: border-box;
    margin: 0;
}

h5 {
    color: rgb(36, 44, 61);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
}

a {
    margin: 10px;
    width: 100%;
}

.card {
    color: rgb(246, 251, 255);
    background-color: rgb(37, 54, 70);
}